#Check info() from Cloud storage Buckets (Lake)

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.

auth.authenticate_user()

In [ ]:
!pip install pydrive

In [3]:
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link_file = 'https://drive.google.com/file/d/1Pej_RqvnqXB24WFV0j10njP-hm5-TaeR/view?usp=sharing'
_,_,_,_,_,id,_ = link_file.split('/')
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('cleaned_datatable.csv')

In [4]:
#check info() from Buckets
import pandas as pd

local_file_path = "/content/cleaned_datatable.csv"  # Replace with your URL

# Read the CSV file from the URL
data = pd.read_csv(local_file_path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10260 entries, 0 to 10259
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_no          10260 non-null  int64
 1   time            10260 non-null  object
 2   vendor          10260 non-null  int64
 3   bill_type       10260 non-null  int64
 4   pickup_type     10260 non-null  int64
 5   payment_method  10260 non-null  int64
 6   sale            10260 non-null  float64
 7   payment         10260 non-null  float64
 8   tip             10260 non-null  float64
 9   change          10260 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 801.7+ KB

#Check info, sum and count from BigQuery (Warehouse)

In [ ]:
pip install pandas google-cloud-bigquery

In [ ]:
pip install google-auth

In [ ]:
pip install google-auth-oauthlib

In [ ]:
pip install google-auth-httplib2

In [ ]:
pip install google-api-python-client

In [ ]:
pip install pandas-gbq

In [11]:
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link_file = 'https://drive.google.com/file/d/1TL25SzGPnc9vRb1uRVxKJHLmxMCDq_vd/view?usp=sharing'
_,_,_,_,_,id,_ = link_file.split('/')
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('projectmadt-6ebb33456a6a.json')

In [12]:
import pandas as pd
from google.cloud import bigquery
from pandas_gbq import read_gbq
from google.oauth2 import service_account

In [13]:
# Set up your Google Cloud project ID and credentials
project_id = "projectmadt"  # Replace with your project ID
credentials_path = "/content/projectmadt-6ebb33456a6a.json"

# Create a Google Cloud BigQuery client with your credentials
client = bigquery.Client.from_service_account_json(credentials_path, project=project_id)

# Create a google.auth.credentials.Credentials object
creds = service_account.Credentials.from_service_account_file(credentials_path)

In [14]:
# Set up the SQL query to retrieve the data
query = """
SELECT *
FROM `projectmadt.mootod_preject_data.fact_table` """ #change table name from Bigquery

# Read the data from BigQuery into a pandas DataFrame using the created credentials
df = read_gbq(query, project_id=project_id, credentials=creds)

# Print the DataFrame
df

Downloading: 100%|██████████|

,order_id,ref_no,datetime_id,vendor_id,bill_type_id,pickup_type_id,payment_method_id,sale,payment,tip,change
0,4504,3005546,4504,4504,4504,4504,4504,2.0,2.0,0.0,0.0
1,8096,3009370,8096,8096,8096,8096,8096,2.0,2.0,0.0,0.0
2,5221,3006296,5221,5221,5221,5221,5221,8.0,8.0,0.0,0.0
3,272,3001286,272,272,272,272,272,10.0,10.0,0.0,0.0
4,724,3001741,724,724,724,724,724,10.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
10255,2792,3003824,2792,2792,2792,2792,2792,334.0,1004.0,0.0,670.0
10256,8609,3009894,8609,8609,8609,8609,8609,298.0,1000.0,0.0,702.0
10257,8574,3009859,8574,8574,8574,8574,8574,457.0,1000.0,0.0,543.0
10258,4644,3005689,4644,4644,4644,4644,4644,329.0,1000.0,0.0,671.0
10259,3008,3004042,3008,3008,3008,3008,3008,297.0,1000.0,0.0,703.0

In [15]:
#for count
columns_to_count = ['order_id'] #change columns name from df
row_count = df[columns_to_count].count(axis=0)
row_count

order_id    10260
dtype: int64

In [16]:
# Set up the SQL query to retrieve the data
query = """
SELECT *
FROM `projectmadt.mootod_preject_data.hoursale_table` """ #change table name from Bigquery

# Read the data from BigQuery into a pandas DataFrame using the created credentials
df = read_gbq(query, project_id=project_id, credentials=creds)

# Print the DataFrame
df

Downloading: 100%|██████████|

     time_range  Total_Records  Total_Sale
0     0:00-1:00              3      641.00
1   10:00-11:00            356    73620.80
2   11:00-12:00            767   170641.00
3   12:00-13:00           1895   578459.80
4   13:00-14:00           1133   374060.00
5   14:00-15:00            625   151960.55
6   15:00-16:00            544   120586.70
7   16:00-17:00            600   141491.00
8   17:00-18:00            878   208071.00
9   18:00-19:00           1165   279428.80
10  19:00-20:00           1061   266041.30
11  20:00-21:00            973   270861.50
12  21:00-22:00            160    52863.00
13  22:00-23:00             27     6788.00
14  23:00-24:00             24     5103.00
15    8:00-9:00              2      225.00
16   9:00-10:00             47     8194.00

In [17]:
#for sum
columns_to_sum = ['Total_Records'] #change columns name from df
row_sums = df[columns_to_sum].sum(axis=0)
row_sums

Total_Records    10260
dtype: int64